.sidebar {
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarlistItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarlistItem .fas {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0px;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sidebar {
    width: 100%;
  }
}
