@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #fff;
}

/* HOME / NEWSFEED CSS */

.homeContainer {
  display: flex;
  width: 100%;
}

/* END HOME / NEWSFEED CSS */

.navbarAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-brand {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
