.feed {
  flex: 5.5;
}

.feedWrapper {
  padding: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .feed {
    flex: 5.5;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .feed {
    flex: 5.5;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .rightbar {
    flex: 5.5;
  }
}
